In [0]:
import pandas as pd
import numpy as np

from google.colab import files
use_cuda = True
import numpy as np
from google.colab import drive

use_cuda = True
from google.colab import drive
drive.mount('/content/gdrive')

path = '/content/gdrive/My Drive/BigData_project/humans.csv'
df = pd.read_csv(path, delimiter=';',  encoding='utf8', engine='python', parse_dates=[3, 14])

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

,id,source,created_date,is_retweet,text,text_retweet,language,hashtags,mentions,location,...,default_profile_image,has_extended_profile,language_desc,tweet_full,pre_proc_tweet,stop_filter_tweet,pos_tags,stem_filter,lemma_filter,bot
0,40000,twitter,3/19/19 14:58,True,NaN,"RT @jdesmondharris: You don't have to write ""i...",en,MeToo,NaN,"Sacramento, CA",...,False,False,english,"rt @jdesmondharris: you do not have to write ""...","you do not have to write ""in the era of in ...",write `` era every piece women . promise .,"[('write', 'VB'), ('``', '``'), ('era', 'NN'),...",write `` era everi piec women . promis .,write era every piece woman . promise .,0
1,40001,twitter,3/19/19 14:58,False,@Femi_Sorry And thus the UK officially becomes...,NaN,en,"MeToo, NoMeansNo",Femi_Sorry,NaN,...,False,True,english,@femi_sorry and thus the uk officially becomes...,and thus the uk officially becomes pa of the ...,"thus uk officially becomes pa movement , tm un...","[('thus', 'RB'), ('uk', 'JJ'), ('officially', ...","thu uk offici becom pa movement , tm understand","thus uk officially become pa movement , tm und...",0
2,40002,twitter,3/19/19 14:58,True,NaN,"RT @jdesmondharris: You don't have to write ""i...",en,MeToo,NaN,"California, USA",...,False,True,english,"rt @jdesmondharris: you do not have to write ""...","you do not have to write ""in the era of in ...",write `` era every piece women . promise .,"[('write', 'VB'), ('``', '``'), ('era', 'NN'),...",write `` era everi piec women . promis .,write era every piece woman . promise .,0
3,40003,twitter,3/19/19 14:57,True,NaN,RT @TheUSASingers: Here it is folks!\n\nWe are...,en,NaN,NaN,South Carolina,...,False,False,english,rt @theusasingers: here it is folks!\n\nwe are...,here it is folks!\n\nwe are proud to present...,folks ! proud present world premiere irish fig...,"[('folks', 'NNS'), ('!', '.'), ('proud', 'JJ')...",folk ! proud present world premier irish fight...,folk ! proud present world premiere irish figh...,0
4,40005,twitter,3/19/19 14:56,True,NaN,"RT @jdesmondharris: You don't have to write ""i...",en,MeToo,NaN,Preston/London,...,False,True,english,"rt @jdesmondharris: you do not have to write ""...","you do not have to write ""in the era of in ...",write `` era every piece women . promise .,"[('write', 'VB'), ('``', '``'), ('era', 'NN'),...",write `` era everi piec women . promis .,write era every piece woman . promise .,0

In [0]:

df["date"]= df["created_date"].str.split(" ", n = 1, expand = True)[0] 
df['tweet_count'] = 1
df_filter = df[['id','date','name','followers_count','total_number_of_tweets','location','language','tweet_count']]
df_filter = df_filter.dropna(how='any')
df_filter

,id,date,name,followers_count,total_number_of_tweets,location,language,tweet_count
0,40000,3/19/19,Samantha Corbin,1414.0,10611,"Sacramento, CA",en,1
2,40002,3/19/19,Dinosaur,76.0,3205,"California, USA",en,1
3,40003,3/19/19,Cloe's Nana,229.0,3276,South Carolina,en,1
4,40005,3/19/19,hettie,828.0,19087,Preston/London,en,1
5,40006,3/19/19,APOLOGIZE to Tinashe,471.0,89621,Chicago,en,1
6,40007,3/19/19,birthday ghoul,462.0,31603,bi | 21 | they,en,1
7,40008,3/19/19,taylor,377.0,46207,"Richmond, VA",en,1
8,40009,3/19/19,𝙰𝚖𝚋𝚎𝚛𝚐𝚛𝚒𝚜✰,266.0,5637,just around the riverbend,en,1
9,40010,3/19/19,macaroni copacabana,442.0,16148,where am i,en,1
10,40011,3/19/19,Baudy Hallee #ReleasetheSnyderCut,619.0,146597,Midwest cowtown,en,1
11,40012,3/19/19,lil sunflower 🌻,1017.0,16942,Probably eating somewhere,en,1
12,40013,3/19/19,Florian Dintilhac,48.0,394,Paris,fr,1
13,40014,3/19/19,Dark sid3-M0on,70.0,5751,Somewhere on the horizon,en,1
14,40016,3/19/19,Gloria_Miller,696.0,2506,"Portsmouth, England",en,1
15,40018,3/19/19,Aubrey at the ASC,82.0,205,"Virginia, USA",en,1
16,40019,3/19/19,hali🌈,1199.0,13079,PA,en,1
18,40021,3/19/19,Viri #IBelieveHim,120.0,4262,"Distrito Federal, México",en,1
19,40022,3/19/19,Margaret Hartrey,221.0,17767,"Wakefield, Massachusetts",en,1
20,40023,3/19/19,AGenZConservative,205.0,28773,Who Cares?!,en,1
21,40024,3/19/19,Viri #IBelieveHim,120.0,4262,"Distrito Federal, México",en,1
22,40025,3/19/19,Ashley Williams,54.0,982,"Philadelphia, PA",en,1
23,40027,3/19/19,Sakina Chenot,696.0,7958,European Union,en,1
24,40028,3/19/19,Red Pills for ALL,834.0,21945,United States,en,1
25,40029,3/19/19,Phil Revard,787.0,32122,Michigan,en,1
26,40031,3/19/19,🖤 KROY 🖤,1514.0,6760,Montreal,en,1
27,40032,3/19/19,John Locke,224.0,11112,"The ""T"" of Pennsylvania",en,1
28,40033,3/19/19,Dr. Roy Schestowitz (罗伊),7852.0,611426,North Pole,en,1
30,40035,3/19/19,wenzday ☠️,21.0,676,"Santa Monica, CA",en,1
32,40037,3/19/19,K.A.D,288.0,4114,From Parts Unknown,en,1
34,40039,3/19/19,Bree,244.0,2538,"Atlanta, GA",en,1
...,...,...,...,...,...,...,...,...
570149,27210,1/25/18,BuzzFeed Deutschland,11456.0,21480,Berlin,de,1
570150,149641,12/16/17,Kate Aurthur,30971.0,63717,Los Angeles,en,1
570151,1192,2/8/18,Dan Vergano,16838.0,26438,"Washington, DC",en,1
570152,217180,11/25/17,Sybelle Silverphoenix,1699.0,3767,New York City,en,1
570153,203409,11/30/17,@JaimieSeaton,2275.0,41922,U.S.A.,en,1
570154,202607,12/1/17,George M Johnson,45507.0,69708,"Brooklyn, NY",en,1
570155,298,2/8/18,Mike P Williams,31221.0,143548,London,en,1
570156,3665,2/7/18,Driadonna.com,2735.0,24882,NYC/313,en,1
570157,188686,12/6/17,Ryan Mac,33144.0,32674,"If you were there, beware",en,1
570158,7756,2/5/18,Elizabeth Pears,7973.0,27434,In the belly of the beast,en,1
570159,238368,11/17/17,Krystie Lee Yandoli,5970.0,57805,"Los Angeles, CA",en,1
570161,166448,12/12/17,Caroline O'Donovan,9346.0,29550,Northern Cali / Silicon Valley,en,1
570162,172184,12/9/17,kassy,10675.0,15984,"London, England",en,1
570164,39175,1/21/18,Adam B. Vary,15248.0,23506,Los Angeles,en,1
570165,13027,2/1/18,Tom Gara,48144.0,105115,PGP: http://bit.ly/1Nja4jP,en,1
570166,212326,11/26/17,Daniel Drepper,8639.0,20931,Berlin,de,1
570167,207643,11/28/17,BuzzFeed France News,10092.0,2769,Paris,fr,1
570169,61131,1/14/18,Pop Culture Brain,3067.0,58687,NYC,en,1
570171,75312,1/10/18,Emily Alford,1630.0,2535,"Los Angeles, CA",en,1
570173,116970,12/20/17,Marlon Fuentes ⚡️Se Habla Español,912,2570,Los Angeles,en,1
570174,260136,11/13/17,Sebastian Fiebrig,3182,47166,"Berlin, Germany",de,1
570175,74785,1/10/18,Vera Bergengruen,17307,21553,"Washington, DC via 🇺🇾 🇨🇱 🇲🇽 🇩🇪 & Miami",en,1
570176,76198,1/10/18,Alexander Cooper,47027,210567,"England, United Kingdom",en,1
570177,76853,1/9/18,Delaney Strunk,1345,7669,"Atlanta, GA",en,1
570178,89085,1/4/18,Phil Jahner,1677,40633,Berlin,de,1
570179,88839,1/4/18,Andrea,990,24547,"Windsor, ON",en,1
570180,63682,1/13/18,idil gözde,463.0,783,"New York, USA",en,1
570181,111151,12/22/17,Kovie Biakolo,4117.0,4615,NYC,en,1
570182,111650,12/22/17,Hannah Al-Othman,16696.0,27013,London via Manchester,en,1
570184,265687,11/11/17,Jody Allard,2062,5574,"Seattle, WA",en,1

In [0]:
df_2017=df_filter[df_filter['date'].str.endswith('17')]

df1_2017 = df_2017[['name','followers_count','total_number_of_tweets','location','language']]
df1_2017.drop_duplicates(subset ="name",keep = 'first', inplace = True) 

groupby_tweetCount_df_2017 = df_2017.groupby(['name','location','language'],as_index=False)['tweet_count'].agg('sum')
groupby_tweetCount_df_2017 = groupby_tweetCount_df_2017.sort_values('tweet_count',ascending=False)

merged_df_2017 = pd.merge(left = df1_2017, right = groupby_tweetCount_df_2017, left_on='name', right_on ='name' , how='left')
merged_df_2017 = merged_df_2017.sort_values('tweet_count',ascending=False)

tweet_count_limit=1
result_df_2017=merged_df_2017[merged_df_2017['tweet_count'] > tweet_count_limit].reset_index(drop=True)

data_2017 = result_df_2017.drop(["location_x", "language_x"], axis=1)

data_2017.rename(columns={'location_y':'location'}, inplace=True)
data_2017.rename(columns={'language_y':'language'}, inplace=True)

file_name="users_2017.csv"
data_2017.to_csv(file_name, encoding='utf-8')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [0]:
df_2018=df_filter[df_filter['date'].str.endswith('18')]

df1_2018 = df_2018[['name','followers_count','total_number_of_tweets','location','language']]
df1_2018.drop_duplicates(subset ="name",keep = 'first', inplace = True) 

groupby_tweetCount_df_2018 = df_2018.groupby(['name','location','language'],as_index=False)['tweet_count'].agg('sum')
groupby_tweetCount_df_2018 = groupby_tweetCount_df_2018.sort_values('tweet_count',ascending=False)

merged_df_2018 = pd.merge(left = df1_2018, right = groupby_tweetCount_df_2018, left_on='name', right_on ='name' , how='left')
merged_df_2018 = merged_df_2018.sort_values('tweet_count',ascending=False)

tweet_count_limit=1
result_df_2018=merged_df_2018[merged_df_2018['tweet_count'] > tweet_count_limit].reset_index(drop=True)

data_2018 = result_df_2018.drop(["location_x", "language_x"], axis=1)

data_2018.rename(columns={'location_y':'location'}, inplace=True)
data_2018.rename(columns={'language_y':'language'}, inplace=True)

file_name="users_2018.csv"
data_2018.to_csv(file_name, encoding='utf-8')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [0]:
df_2019=df_filter[df_filter['date'].str.endswith('19')]

df1_2019 = df_2019[['name','followers_count','total_number_of_tweets','location','language']]
df1_2019.drop_duplicates(subset ="name",keep = 'first', inplace = True) 

groupby_tweetCount_df_2019 = df_2019.groupby(['name','location','language'],as_index=False)['tweet_count'].agg('sum')
groupby_tweetCount_df_2019 = groupby_tweetCount_df_2019.sort_values('tweet_count',ascending=False)

merged_df_2019 = pd.merge(left = df1_2019, right = groupby_tweetCount_df_2019, left_on='name', right_on ='name' , how='left')
merged_df_2019 = merged_df_2019.sort_values('tweet_count',ascending=False)

tweet_count_limit=1
result_df_2019=merged_df_2019[merged_df_2019['tweet_count'] > tweet_count_limit].reset_index(drop=True)

data_2019 = result_df_2019.drop(["location_x", "language_x"], axis=1)

data_2019.rename(columns={'location_y':'location'}, inplace=True)
data_2019.rename(columns={'language_y':'language'}, inplace=True)

file_name="users_2019.csv"
data_2019.to_csv(file_name, encoding='utf-8')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [0]:
tweet_text_df = df[['lemma_filter']]
tweet_result_df = tweet_text_df.dropna(how='any')
tweet_result_df = tweet_result_df.drop_duplicates(subset='lemma_filter', keep='first')

file_name="tweet_text.csv"
tweet_result_df.to_csv(file_name, encoding='utf-8')